
{% extends 'base.html.twig' %}

{% block title %}
    Supprimer un project - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="block_grey" id="delete_comfirm">



    {% if project is defined %}

        <h2>Supprimer un project</h2>

        <p>
            Etes-vous certain de vouloir supprimer le project "{{ project.title }}" ?
        </p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('project_delete', { 'id': project.id })}}" method="post">
        <a href="{{ path('admin') }}">
            <span class="btn btn-info">Retour Administration</span>
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>
    {% endif %}




    {% if commentary is defined %}

        <h2>Supprimer un message</h2>

        <p>
            Etes-vous certain de vouloir supprimer le message de "{{ commentary.author }}" ?
        </p>
        <form action="{{ path('commentary_delete', { 'id': commentary.id })}}" method="post">
            <a href="{{ path('admin') }}">
                <span class=" btn btn-info">Retour Administration</span>
            </a>
            {# Ici j'ai écrit le bouton de soumission à la main #}
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            {# Ceci va générer le champ CSRF #}
            {{ form_rest(form) }}
        </form>
    {% endif %}

    </div>

{% endblock %}