<div class="well block_grey">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération du label + error + widget pour un champ. #}
    {% if form.date is defined %}
        {{ form_row(form.date) }}
    {% endif %}


    {{ form_row(form.title) }}
    {{ form_row(form.url) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-danger'}}) }}

    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
    <div id="btn_back">
        <a href="{{ path('admin') }}">
            <span class="btn btn-info">Retour Administration</span>
        </a>
    </div>
</div>