{% extends 'base.html.twig' %}

{% block title %}
    Administration - {{ parent() }}
{% endblock %}

{% block body %}

<div id="admin">
    <h2 class="text-center">Administration</h2>

    <div class="text-center" id="login_destroy">
        <p>Bienvenue !</p>
        <p><a id="deconnexion" href="/logout" class="btn btn-info">Se déconnecter</a></p>
    </div>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}



    <h2 class="text-center">Message / Avis :</h2>
    <br/>

    <div class="table-responsive block_grey">
        <table class="table table-striped" id="tabcommentaires">
            <tr>
                <th>Auteur</th>
                <th>Message</th>
                <th>Action</th>
            </tr>

            {%   for commentary in commentary_list %}
            <tr>
                <td class="auteur_com"><p>{{ commentary.author }}</p></td>
                <td class="contenu_com"><p>{{ commentary.content }}</p></td>
                <td class="btn-tab action_com">
                    <a href="{{ path('commentary_delete', { 'id': commentary.id }) }}" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true" method="post"></i>Supprimer le message</a>
                </td>
            </tr>
            {%  endfor %}
        </table>
    </div>

    <h2 class="text-center">Liste des projets :</h2>

    <div id="btn_ajout">
        <a href="/admin/projects/add" class="btn btn-info btn-lg">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Ajouter un projet
        </a>
    </div>
    <div class="table-responsive block_grey">
        <table class="table">
            <tr>
                <th id="title_table">Titre</th>
                <th id="url_table">Url</th>
                <th id="content_table">Description</th>
                <th id="img_table">Image</th>
                <th id="action_table">Action</th>
            </tr>

                {%   for project in projects %}
            <tr class="lgn-tab">
                <td><p>{{ project.title }}</p></td>
                <td><p>{{ project.url }}</p></td>
                <td><p>{{ project.description }}</p></td>
                {% if project.image is not null %}
                    <td class="img_project img-thumbnail"><img src="{{ asset(project.image.webPath) }}" alt="{{ project.image.alt }}"></td>
                {% endif %}

                <td class="btn-tab">
                    <a href="{{ path('project_edit', { 'id': project.id }) }}"  class="btn btn-info">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier
                    </a>
                    <a href="{{ path('project_delete', { 'id': project.id }) }}" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
                    </a>
                </td>
            </tr>
            {%  endfor %}
        </table>
    </div>
</div>

{% endblock %}

