{% extends 'base.html.twig' %}

{% block title %}
    Formulaire de contact - {{ parent() }}
{% endblock %}
{% block body %}

        <h1>Contact</h1>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}


        <div class="row">



            <div id="form_email" class="well block_grey">


                {{ form_start(form) }}
                    {{ form_row(form.author, {'label': 'Auteur'}) }}
                    {{ form_row(form.email, {'label': 'Email'}) }}
                    {{ form_row(form.content, {'label': 'Message'}) }}
                <input type="submit" value="Envoyer">
                {{ form_end(form) }}


            </div>


            <div id="text_contact">
                <p>Pour me contacter, utilisez ce formulaire !</p>
                <p>Vous pouvez aussi laisser votre avis (positif) sur mon travail, sur le temps qu'il fait ou encore sur Batman VS Superman en utilisant ce <a href="/message">lien</a></p>

            </div>
        </div>

{% endblock %}



