{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">

        <h1>Contact</h1>
        <div class="row">
            <h1>Formulaire</h1>
            <div class="well">


                {{ form_start(form) }}
                    {{ form_row(form.author, {'label': 'Auteur'}) }}
                    {{ form_row(form.email, {'label': 'Email'}) }}
                    {{ form_row(form.content, {'label': 'Message'}) }}
                <input type="submit" value="Envoyer">
                {{ form_end(form) }}


            </div>
        </div>
    </div>

{% endblock %}



