{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">

        <h1>Contact</h1>
        <div class="row">
            <div class="well">


                {{ form_start(form) }}
                    {{ form_row(form.author, {'label': 'Auteur'}) }}
                    {{ form_row(form.email, {'label': 'Email'}) }}
                    {{ form_row(form.content, {'label': 'Message'}) }}
                <input type="submit" value="Envoyer">
                {{ form_end(form) }}


            </div>


            <div>
                <p> Via ce formulaire vous pouvez m'envoyez un message directement par email</p>
                <p>Pour laissé votre avis ou un message pour les futurs visiteurs merci d'utiliser ce <a href="/message">lien</a></p>

            </div>
        </div>
    </div>

{% endblock %}



