{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <div id="text-hoverboard">
                    <h1 class="display-3">Nico2p</h1>
                    <div class="hidden">
                    <p class="lead"> Développeur web</p>
                    </div>
                </div>
                <img id="hoverboard" src="{{ asset('images/hoverboardtest3.gif') }}" alt="hoverboard anime">
                <div id="btn_jumbotron"><a class="btn btn-lg btn-danger" href="#" role="button">Plus d'informations</a>
                    <a class="btn btn-lg btn-danger" href="/projects" role="button">Projets</a>
                    <a class="btn btn-lg btn-danger" href="/cv" role="button">CV</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <p> "Mais, vous savez, moi je ne crois pas qu'il y ait de bonne ou de mauvaise situation.
                Moi, si je devais résumer ma vie aujourd'hui avec vous, je dirais que c'est d'abord des rencontres,
                des gens qui m'ont tendu la main, peut-être à un moment où je ne pouvais pas,
                où j'étais seul chez moi. Et c'est assez curieux de se dire que les hasards,
                les rencontres forgent une destinée... Parce que quand on a le goût de la chose,
                quand on a le goût de la chose bien faite, le beau geste,
                parfois on ne trouve pas l'interlocuteur en face, je dirais,
                le miroir qui vous aide à avancer. Alors ce n'est pas mon cas,
                comme je le disais là, puisque moi au contraire,
                j'ai pu ; et je dis merci à la vie, je lui dis merci, je chante la vie, je danse la vie...
                Je ne suis qu'amour ! Et finalement,
                quand beaucoup de gens aujourd'hui me disent "Mais comment fais-tu pour avoir cette humanité ?",
                eh ben je leur réponds très simplement, je leur dis que c'est ce goût de l'amour,
                ce goût donc qui m'a poussé aujourd'hui à entreprendre la programmation informatique,
                mais demain, qui sait, peut-être seulement à me mettre à votre service ,
                à faire le don, le don de soi..."
            </p>
        </div>
        <div class="row">
            <div id="dev_img" class="container">
                <img id="dev" src="{{ asset('images/hoverboard.png') }}" alt="imagedev">
            </div>
            <div id="bulleblock" class="container">
                <div class="bulle">
                    <img id="cube" src="{{ asset('images/cube.jpg') }}" alt="cube">
                    <p class="cache cachecube"> < 1min</p>
                </div>
                <div class="bulle">
                    <img id="chess" src="{{ asset('images/chess.png') }}" alt="chess">
                    <p class="cache cachechess"> Joueur d'echecs</p>
                </div>
                <div class="bulle">
                    <img id="moto" src="{{ asset('images/moto.png') }}" alt="moto">
                    <p class="cache cachemoto">Motard (Pas de retard)</p>
                </div>
                <div class="bulle">
                    <img id="os" src="{{ asset('images/os.png') }}" alt="os">
                    <p class="cache cacheos">Multi OS</p>
                </div>
            </div>
        </div>
        </div>
    </div>




{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}

