{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <div id="text-hoverboard">
                    <h1 class="display-3">Nico2p</h1>
                    <div class="hidden">
                    <p class="lead"> Développeur web</p>
                    </div>
                </div>
                <img id="hoverboard" src="{{ asset('images/hoverboardtest3.gif') }}" alt="hoverboard anime">
                <div id="btn_jumbotron"><a class="btn btn-lg btn-danger" href="#" role="button">Plus d'informations</a>
                    <a class="btn btn-lg btn-danger" href="/projects" role="button">Projets</a>
                    <a class="btn btn-lg btn-danger" href="/cv" role="button">CV</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <p>Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri,
                quibus est usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris,
                alente inpunitate adulescentem in peius audaciam ad bella gravia
                proruperunt, diu quidem perduelles spiritus inrequietis motibus erigentes, hac tamen indignitate
                perciti vehementer, ut iactitabant, quod eorum capiti quidam consortes apud
                Iconium Pisidiae oppidum in amphitheatrali spectaculo feris praedatricibus obiecti sunt praeter morem.
            </p>
        </div>
        <div class="row">
            <div id="dev_img" class="container">
                <img id="dev" src="{{ asset('images/hoverboard.png') }}" alt="imagedev">
            </div>
            <div id="bulleblock" class="container">
                <div class="bulle">
                    <img id="cube" src="{{ asset('images/cube.jpg') }}" alt="cube">
                    <p class="cache cachecube"> < 1min</p>
                </div>
                <div class="bulle">
                    <img id="chess" src="{{ asset('images/chess.png') }}" alt="chess">
                    <p class="cache cachechess"> Joueur d'echecs</p>
                </div>
                <div class="bulle">
                    <img id="moto" src="{{ asset('images/moto.png') }}" alt="moto">
                    <p class="cache cachemoto">Motard (Pas de retard)</p>
                </div>
                <div class="bulle">
                    <img id="os" src="{{ asset('images/os.png') }}" alt="os">
                    <p class="cache cacheos">Multi OS</p>
                </div>
            </div>
        </div>
        </div>
    </div>




{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}

