{% extends 'base.html.twig' %}

{% block title %}
    Pourquoi moi ? - {{ parent() }}
{% endblock %}

{% block body %}


    <h2 class="text-center">Pourquoi moi ?</h2>

    <div class="row">
        <div id="nico2p">
            <img id="dev_img" class="block_grey" src="{{ asset('images/nico2p.jpg') }}" alt="nico2p">
            <div id="bulleblock">
                <div id="cube" class="bulle">
                    <img class="bulle" src="{{ asset('images/info.png') }}" alt="cube">
                    <p class="cache cachecube"> Résolution < 1min</p>
                </div>

                <div id="chess" class="bulle">
                    <img class="bulle" src="{{ asset('images/info.png') }}" alt="chess">
                    <p class="cache cachechess">Fan de Retour vers le futur</p>
                </div>

                <div id="moto" class="bulle">
                    <img class="bulle" src="{{ asset('images/info.png') }}" alt="moto">
                    <p class="cache cachemoto">Motard (Jamais en retard)</p>
                </div>

                <div id="os" class="bulle">
                    <img class="bulle" src="{{ asset('images/info.png') }}" alt="os">
                    <p class="cache cacheos">Livres de chevet</p>
                </div>

            </div>
        </div>
    </div>

 <div class="row">
     <div id="text_homepage" class="block_grey">

         <blockquote class="blockquote">
             <p class="mb-0">Mais, vous savez, moi je ne crois pas qu'il y ait de bonne ou de mauvaise situation.
                 Moi, si je devais résumer ma vie aujourd'hui avec vous, je dirais que c'est d'abord des rencontres,
                 des gens qui m'ont tendu la main, peut-être à un moment où je ne pouvais pas,
                 où j'étais seul chez moi. Et c'est assez curieux de se dire que les hasards,
                 les rencontres forgent une destinée... Parce que quand on a le goût de la chose,
                 quand on a le goût de la chose bien faite, le beau geste,
                 parfois on ne trouve pas l'interlocuteur en face, je dirais,
                 le miroir qui vous aide à avancer. Alors ce n'est pas mon cas,
                 comme je le disais là, puisque moi au contraire,
                 j'ai pu ; et je dis merci à la vie, je lui dis merci, je chante la vie, je danse la vie...
                 Je ne suis qu'amour ! Et finalement,
                 quand beaucoup de gens aujourd'hui me disent "Mais comment fais-tu pour avoir cette humanité ?",
                 eh ben je leur réponds très simplement, je leur dis que c'est ce goût de l'amour,
                 ce goût donc qui m'a poussé aujourd'hui à entreprendre la programmation informatique,
                 mais demain, qui sait, peut-être seulement à me mettre à votre service ,
                 à faire le don, le don de soi...</p>
             <footer class="blockquote-footer">Otis - <cite title="Source Title">Scribe</cite></footer>
         </blockquote>

     </div>
 </div>





{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}