{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <h2>Projets réalisé pour OpenClassRoom</h2>
        </div>
    </div>





    <div id="projects">

    {%   for project in projects %}
    <div class="project_block imgcontainer">

        <div class="title_project">
            <h4>{{ project.title }}</h4>
        </div>
        <div>
        <a href="{{ project.url }}"><figure>
            {% if project.image is not null %}
                <img class="img_project img-thumbnail" src="{{ asset(project.image.webPath) }}" alt="{{ project.image.alt }}">
            {% endif %}
            <figcaption class="text-content">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-eye fa-stack-1x"></i>
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                </span>
                {{ project.description }}
            </figcaption>
        </figure></a>
        </div>


    </div>
    {%  endfor %}

    </div>

{% endblock %}